<h1>USER SHOW PAGE</h1>
<div><%= @user.username %></div>
<div><%= @user.email %></div>

<div>
  <h2><%= @user.username %>'s Listed Events: </h2>
  <ul>
    <% @user.events.each do |ev| %>
      <li>
        <%= ev.title %>
        <%= link_to "Show details", event_path(ev) %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h2><%= @user.username %> is attending these events: </h2>
  <ul>
    <% @user.attended_events.each do |ev| %>
      <li><%= ev.title %> <%= link_to "See Details", event_path(ev) %></li>
    <% end %>
  </ul>
</div>