<h1>USER SHOW PAGE</h1>
<div><%= @user.username %></div>
<div><%= @user.email %></div>

<div>
  <h2><%= @user.username %>'s Listed Events: </h2>
  <ul>
    <% @user.events.each do |ev| %>
      <li>
        <%= ev.title %>
        <%= link_to "Show details", event_path(ev) %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h2><%= @user.username %> is attending these events: </h2>
  <ul>
    <% @user.attended_events.each do |ev| %>
      <li>
        <%= ev.title %>
        <%= render partial: "shared/event-future-past", locals: { ev: ev } %>
        <%= link_to "See Details", event_path(ev) %>

        <%# if the logged in user is the same as the user being shown, then allow the user to remove their enrollments %>

        <% if !current_user.nil? && current_user.id == @user.id %>
          <% enr = @user.enrollments.find_by(event_id: ev.id) %>
          <%= link_to "Withdraw your enrollment", enrollment_path(enr), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>