<div><strong><%= ev.title %></strong></div>
<div><%= ev.body %></div>
<div><strong>Location:</strong> <%= ev.location %></div>
<div><strong>Scheduled Date:</strong> <%= ev.date %></div>
<div><strong>Posted by:</strong> <%= ev.creator.username %></div>