<h1>EVENT INDEX PAGE</h1>
<%= link_to "Post new event", new_event_path %>

<% if !Event.today.empty? %>
  <div>
    <h2>Today's events: </h2>
    <% Event.today.each do |ev| %>
      <%= render partial: "shared/display-event", locals: { :ev => ev } %>
      <div><%= link_to "Show Details", event_path(ev) %></div><br>
    <% end %>
  </div>
<% end %>

<% if !Event.future.empty? %>
  <div>
    <h2>Future events: </h2>
      <% Event.future.each do |ev| %>
      <%= render partial: "shared/display-event", locals: { :ev => ev } %>
      <div><%= link_to "Show Details", event_path(ev) %></div><br>
    <% end %>
  </div>
<% end %>

<% if !Event.past.empty? %>
  <div>
    <h2>Past events: </h2>
      <% Event.past.each do |ev| %>
      <%= render partial: "shared/display-event", locals: { :ev => ev } %>
      <div><%= link_to "Show Details", event_path(ev) %></div><br>
    <% end %>
  </div>
<% end %>
