<h1>EVENT SHOW PAGE</h1>
<%= render partial: "shared/display-event", locals: { :ev => @event } %>

<%# if the user isn't the owner of the event... %>
<% if current_user != @event.creator && current_user.present? %>
  <% existing_enrollment = current_user.enrollments.any? { |enr| enr.event_id == @event.id } %>

  <%# and the user has no previous enrollments in this event... %>
  <% if !existing_enrollment %>
    <%# ... then let them enroll in the event %>
    <%= form_with url: enrollments_path, method: :post do |f| %>
      <%= f.hidden_field :event_id, value: params[:id] %>
      <%= f.submit value: "Attend this event"  %>
    <% end %>
  <% end %>
<% end %>

<% if current_user == @event.creator %>
  <div>
    <%= link_to "Delete this event", event_path(@event), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>

  <div>
    <%= link_to "Edit this event", edit_event_path(@event) %>
  </div>
<% end %>

<h2>Others going to this event: </h2>
<ul>
  <% @event.attendees.each do |att| %>
    <li><%= link_to att.username, user_path(att) %></li>
  <% end %>
</ul>